*.bak
*.arc
*.dll
*.sav
*.cnf
*.ogg
*.wav
*.bin
*.evs
*.chp
*.exe
*.png
*.tmx
*.exe
*.fmf
*.obs
*.idb
*.tmp
*.db*
*.txt
*.sav*
gn_enbu_cn.*

old/*
game/dat/
game/target/
omegat/last_entry.txt
omegat/project_stats.txt
omegat/files_order.txt
omegat/last_entry.properties

!/game/source/doll/DollData.dic
!/game/source/map/data/data.dic
!/game/source/doll/skill/SkillData.dic

!/game/source/
!/game/gn_enbu.exe
!/game/gn_enbu_cn.exe
!/game/DxaDecode.exe
!/game/DxaEncode.exe
!/omegat/project_save.tmx
!/game/source/doll/DollData.dbs
!/game/source/doll/skill/SkillData.sbs
!/game/source/map/data/*/*.mad
!/game/source/common/EFile.bin